.instagram-icon {
    font-size: 24px;
    color: #833AB4;
    text-decoration: none;
}

.instagram-icon:hover {
    color: #C13584;
}

.youtube-icon {
    font-size: 24px;
    color: #FF0000;
    text-decoration: none;
}

.youtube-icon:hover {
    color: #C4302B;
}

main{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: url('../images/aleksandr-popov-Eq5wbIf59vo-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
    color: white;
    line-height: 1.5;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Skip Link */
.skip-to-main-content-link {
    position: absolute;
    left: -1000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-to-main-content-link:focus {
    position: absolute;
    left: auto;
    top: auto;
    width: auto;
    height: auto;
    overflow: auto;
}

/* Header and Navigation */
header {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img {
    width: 150px;
    height: 70px;
    padding-left: 15px;
    padding-top: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 15px;
}

nav ul li a {
    color: #fff;
    font-size: 20px;
}

nav ul li a.active,
nav ul li a:hover {
    color: #CCB69E;
    text-decoration: underline;
}

/* Main Content */
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
}

h2 {
    margin-top: 20px;
    font-size: 20px;
}

h1, h2 {
    text-transform: uppercase;
    font-family: 'Indie Flower';
}

/* Styling for Band Information and Members */
.About_image img {
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    width: 60%;
}

.About_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.facts li img {
    display: inline-block;
    width: 20px;
    height: auto;
    vertical-align: middle;
    border: 0.5px solid black;
}

.facts ul li {
    margin-bottom: -5px;
}

.members-container {
    display: grid;
    grid-template-columns: 1fr; /* One column grid by default */
    text-align: center;
    grid-gap: 10px;
}

.member img {
    width: 60%;
    height: auto;
    transition: transform 0.3s ease;
    border-radius: 8px;
    margin: 20px;
}

.member {
    display: block;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.member:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.member h2, .member ul {
    transition: color 0.3s ease; /* Optional: changes color smoothly if needed */
}

.facts p {
    margin-top: 10px;
}

.facts {
    background-color: rgba(255, 255, 255, 0.808);
    color: black;
    padding: 20px;
    border-radius: 8px;
    max-width: 50%;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.music-player {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.track {
    width: 250px; /* Adjust as needed */
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.806);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.track:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.album-cover img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.track-info {
    margin: 10px;
    color: black;
}

.play-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.track-title, .track-artist {
    display: block;
    margin: 5px;
}

.play-controls button {
    background: none;
    border: none;
    font-size: 1.5em; /* Makes the icons larger */
    margin: 0 10px;
    cursor: pointer;
    color: #957a5eae;
    margin-bottom: 10px;
}

.play-controls button:focus, .play-controls button:hover {
    outline: none;
    color: black;
}

.play-controls button:active {
    color: black;
}

.song-description {
    margin: 10px;
    font-size: 18px;
    text-align: center;
}

.concert-image-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
}

.concert-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.concert-image5 {
    grid-column: 1 / -1;
}

.concert-image5 img {
    width: 100%;
    height: auto;
    display: block;
}

.concert-info {
    background-color: rgba(255, 255, 255, 0.688);
    color: black;
    padding: 20px;
    border-radius: 8px;
    max-width: 50%;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.concert-info h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.concert-info p {
    text-align: center;
    margin-top: 5px;
}

.concert-video-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-top: 20px;
}

.concert-video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.concert-video video {
    max-width: 100%;
}

.person-heading {
    margin-top: 50px;
}

.person-heading {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.688);
    color: black;
    padding: 20px;
    border-radius: 8px;
    max-width: 50%;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.person-heading h2 {
    margin-top: 20px;
    font-size: 20px;
}

.person-heading p {
    margin-top: 5px;
}

.personal-image {
    text-align: center;
}

.live-container {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-items: center;
    width: 100%;
}

.live-video {
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
    margin-bottom: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
}

iframe {
    width: 100%;
    height: 315px;
    display: block;
}

.live-video:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
    .members-container {
        grid-template-columns: 50% 50%;
    }

    .member img {
        width: 80%;
        height: auto;
        transition: transform 0.3s ease;
        border-radius: 8px;
        margin: 20px;
    }

    .member {
        display: block;
        width: 100%;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .member:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .member h2, .member ul {
        transition: color 0.3s ease; /* Optional: changes color smoothly if needed */
    }

    .music-player {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 20px;
        padding: 20px;
    }

    .live-container {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .concert-image-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 10px;
        width: 100%;
        margin-top: 20px;
    }

    header {
        color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    
    .logo img {
        width: 150px;
        height: 70px;
        padding-left: 15px;
        padding-top: 10px;
    }
    
    nav ul {
        list-style: none;
    }
    
    nav ul li {
        display: inline;
        margin-right: 20px;
    }
    
    nav ul li a {
        color: #fff;
        font-size: 20px;
    }
    
    nav ul li a.active,
    nav ul li a:hover {
        color: #CCB69E;
        text-decoration: underline;
    }
    
    .About_image img {
        display: block;
        margin: 20px auto;
        border-radius: 8px;
        width: 60%;
    }

    .concert-video-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 10px;
        margin-top: 20px;
    }
}

@media (min-width: 800px) {
    .members-container {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        text-align: center;
        grid-gap: 20px;
    }

    .member img {
        width: 85%;
        height: auto;
        transition: transform 0.3s ease;
        border-radius: 8px;
        margin: 20px;
    }

    .member {
        display: block;
        width: 100%;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .member:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .member h2, .member ul {
        transition: color 0.3s ease; /* Optional: changes color smoothly if needed */
    }

    .music-player {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-gap: 20px;
        padding: 20px;
    }
    
    .track {
        width: 250px; /* Adjust as needed */
        margin: 20px auto;
        background-color: rgba(255, 255, 255, 0.806);
        border-radius: 10px;
        box-shadow: 0 8px 16px rgba(0,0,0,0.1);
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    .track:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    }
    
    .album-cover img {
        width: 100%; /* Make album cover full width of player */
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .live-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 10px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .concert-image-container {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-gap: 10px;
        width: 100%;
        margin-top: 20px;
    }

    .About_image img {
        display: block;
        margin: 20px auto;
        border-radius: 8px;
        width: 40%;
    }
}